<!doctype html>
<html class="no-js" lang="en">

<head></head>
	<meta charset="utf-8">
	<title>Forgot Password</title>
	<meta name="description" content="">
	<!-- style CSS
	============================================ -->
	<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<div class="container" id="container">
				<form action="/forgotpassword" method="POST">
					<h1>Reset Password</h1>
					<input type="text" placeholder="New Password" name="newpw" />
                    <input type="text" placeholder="Confirm New Password" name="confirmpw" />
					<button type="submit">Submit</button>
				</form>
		</div>
		<!-- main JS
		============================================ -->
	</body>